<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47275742478-u0ob2torc9uav6jgdti6hqfv4da8fs85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47275742478-u0ob2torc9uav6jgdti6hqfv4da8fs85</string>
	<key>API_KEY</key>
	<string>AIzaSyAojZwnF4pGQ9g5Hfn2KaYqrcW_gda9WIk</string>
	<key>GCM_SENDER_ID</key>
	<string>47275742478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.kelasdigital.lite</string>
	<key>PROJECT_ID</key>
	<string>kedi-getx-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>kedi-getx-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47275742478:ios:476b732ee1068d8a75335f</string>
</dict>
</plist>